.container{
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.top{
    display:flex;
    justify-content: space-between;
    height:35px;
}

.import{
    color:#324c5b;
    background-color: white; 
}

.table{
    background-color: white;
    border-radius:10px;
    padding:10px;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.entryTitle{
    font-weight: 700;
}

.entryItems{
    margin-top:7px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.table > :not(:last-child){
    border-bottom: 1px solid #e5ebee;
}

.none{
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:25px;
    font-weight: bold;
    width:100%;
    height: 200px;
    color:#7f93a4;
}

